@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: merriweather;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@media screen and (min-width:0) {
    nav {
        background-color: rgb(37, 42, 51);
    }

    .sec2 {
        background-color: rgb(37, 42, 51);
        padding-bottom: 100px;

        >div {

            >div {
                display: grid;
                grid-template-columns: 1;
                grid-template-rows: 14;
                gap: 30px;

                >div {
                    overflow-y: hidden;
                    display: flex;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: rgba(255, 0, 0, 0.103);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    &:hover {
                        >div {
                            height: 120px;

                        }

                        >figure>img {
                            transform: translatey(-20%);
                        }

                        >figure>figcaption {
                            bottom: 170px;
                        }
                    }

                    >div {
                        transition: 0.4s;
                        background-color: rgb(236, 72, 87);
                        height: 0;
                        display: flex;
                        align-items: center;

                        >span {
                            font-family: merriweather;
                            font-size: 15px;

                        }
                    }

                    >figure {
                        overflow-y: hidden;
                        display: flex;
                        width: 100%;



                        >img {
                            object-fit: cover;
                            width: 100%;
                            transition: 0.4s;
                        }

                        >figcaption {
                            left: 50%;
                            bottom: 10px;
                            transform: translatex(-50%) translatey(-50%);
                            font-family: montserrat;
                            font-size: 25px;
                            font-weight: bold;
                            transition: 0.2s;
                        }

                    }

                    &:nth-of-type(1) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    &:nth-of-type(2) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 5;

                    }

                    &:nth-of-type(3) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 5;
                        grid-row-end: 8;
                    }

                    &:nth-of-type(4) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 8;
                        grid-row-end: 11;
                    }

                    &:nth-of-type(5) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 11;
                        grid-row-end: 14;
                    }

                    &:nth-of-type(6) {
                        grid-column-start: 1;
                        grid-column-end: 1;
                        grid-row-start: 14;
                        grid-row-end: 15;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:576px) {
    nav {
        background-color: transparent;

    }

    .sec2 {
        background-color: rgb(37, 42, 51);
        padding-bottom: 100px;

        >div {

            >div {
                display: grid;
                grid-template-columns: 2;
                grid-template-rows: 7;
                gap: 30px;

                >div {
                    overflow-y: hidden;
                    display: flex;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: rgba(255, 0, 0, 0.103);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    &:hover {
                        >div {
                            height: 120px;

                        }

                        >figure>img {
                            transform: translatey(-20%);
                        }

                        >figure>figcaption {
                            bottom: 150px;
                        }
                    }

                    >div {
                        transition: 0.4s;
                        background-color: rgb(236, 72, 87);
                        height: 0;
                        display: flex;
                        align-items: center;

                        >span {
                            font-family: merriweather;
                            font-size: 15px;

                        }
                    }

                    >figure {
                        overflow-y: hidden;
                        display: flex;
                        width: 100%;



                        >img {
                            object-fit: cover;
                            width: 100%;
                            transition: 0.4s;
                        }

                        >figcaption {
                            left: 50%;
                            bottom: 10px;
                            transform: translatex(-50%) translatey(-50%);
                            font-family: montserrat;
                            font-size: 25px;
                            font-weight: bold;
                            transition: 0.2s;
                        }

                    }

                    &:nth-of-type(1) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    &:nth-of-type(2) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 4;

                    }

                    &:nth-of-type(3) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 5;
                    }

                    &:nth-of-type(4) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 4;
                        grid-row-end: 7;
                    }

                    &:nth-of-type(5) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 5;
                        grid-row-end: 8;
                    }

                    &:nth-of-type(6) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 7;
                        grid-row-end: 8;
                    }
                }
            }
        }
    }

}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {
    .sec2 {
        background-color: rgb(37, 42, 51);
        padding-bottom: 100px;

        >div {

            >div {
                display: grid;
                grid-template-columns: 3;
                grid-template-rows: 6;
                gap: 30px;

                >div {
                    overflow-y: hidden;
                    display: flex;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: rgba(255, 0, 0, 0.103);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    &:hover {
                        >div {
                            height: 120px;

                        }

                        >figure>img {
                            transform: translatey(-20%);
                        }

                        >figure>figcaption {
                            bottom: 150px;
                        }
                    }

                    >div {
                        transition: 0.4s;
                        background-color: rgb(236, 72, 87);
                        height: 0;
                        display: flex;
                        align-items: center;

                        >span {
                            font-family: merriweather;
                            font-size: 15px;

                        }
                    }

                    >figure {
                        overflow-y: hidden;
                        display: flex;
                        width: 100%;



                        >img {
                            object-fit: cover;
                            width: 100%;
                            transition: 0.4s;
                        }

                        >figcaption {
                            left: 50%;
                            bottom: 10px;
                            transform: translatex(-50%) translatey(-50%);
                            font-family: montserrat;
                            font-size: 25px;
                            font-weight: bold;
                            transition: 0.2s;
                        }

                    }

                    &:nth-of-type(1) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    &:nth-of-type(2) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 4;

                    }

                    &:nth-of-type(3) {
                        grid-column-start: 3;
                        grid-column-end: 4;
                        grid-row-start: 1;
                        grid-row-end: 4;
                    }

                    &:nth-of-type(4) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 5;
                    }

                    &:nth-of-type(5) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 4;
                        grid-row-end: 7;
                    }

                    &:nth-of-type(6) {
                        grid-column-start: 3;
                        grid-column-end: 4;
                        grid-row-start: 4;
                        grid-row-end: 5;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {}

@media screen and (min-width:1400px) {}




header {
    background-image: url(../image/home_slider.jpeg);
    background-position: center;
    background-size: cover;
    padding-bottom: 270px;
    background-attachment: fixed;

    >.div1 {
        >nav {
            margin-top: 10px;

            >.fig1 {
                >a {
                    >img {
                        object-fit: cover;
                        width: 250px;

                    }
                }
            }

            >.fig2 {
                >a {
                    >img {
                        object-fit: contain;
                        width: 40px;

                    }
                }
            }

            >a {
                >i {
                    font-size: 40px;
                    color: white;
                }
            }

        }
    }


    >.div1-1 {

        margin-top: 170px;
        padding: 0 20px;

        >* {
            color: white;
        }

        >h1 {
            font-weight: bold;
            font-family: montserrat;
            font-size: 105px;
        }

        >p {
            font-family: merriweather;
            font-size: 18px;
        }

        >div {
            >a {

                transition: 1s;
                font-family: montserrat;
                font-size: 24px;
                font-size: 20px;
                height: 50px;
                color: white;

                &:nth-of-type(1) {
                    width: 200px;
                    background: rgb(236, 72, 87);

                    &:hover {
                        background-color: #ffff;
                        color: black;
                    }


                }

                &:nth-of-type(2) {
                    width: 150px;

                    &:hover {
                        background-color: #ffff;
                        color: black;
                    }
                }
            }
        }
    }
}

main {
    >.sec1 {

        .div2 {
            >.div2-1 {
                background-color: rgb(50, 56, 68);

                >.div2-1-1 {

                    >hgroup {
                        margin: 70px 0;
                        margin-top: 80px;

                        >h2 {

                            font-size: 55px;
                            font-family: montserrat;
                            margin-bottom: 80px;
                            position: relative;

                            &::after {
                                content: '';
                                background-color: rgb(236, 72, 87);
                                width: 50%;
                                height: 20px;
                                position: absolute;
                                top: -80px;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                width: 30%;
                                height: 2px;
                                background-color: rgb(68, 78, 99);
                                bottom: -30px;
                            }
                        }

                        >p {
                            font-size: 15px;
                            font-family: merriweather;
                            color: rgb(125, 123, 141);

                        }
                    }
                }
            }

            >.div2-2 {
                background-color: rgb(37, 42, 51);

                >.div2-2-1 {

                    >hgroup {
                        margin: 70px 0;
                        margin-top: 80px;

                        >h2 {
                            font-size: 55px;
                            font-family: montserrat;
                            margin-bottom: 80px;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 30%;
                                height: 2px;
                                background-color: rgb(68, 78, 99);
                                bottom: -30px;
                            }
                        }

                        >p {
                            color: rgb(125, 123, 141);
                            font-size: 15px;
                            font-family: merriweather;
                        }
                    }
                }
            }
        }
    }

    .sec3 {
        >div {
            >a {
                height: 150px;
                background-color: rgb(236, 72, 87);
                font-family: montserrat;
                font-size: 18px;
                font-weight: bolder;
                color: white;
                transition: 0.5s;

                &:hover {
                    background-color: white;
                    color: black;

                }
            }
        }
    }

    .sec4 {
        background-color: gray;
        background-image: url(../image/home-testimonial-parallax.jpeg);
        background-position: center;
        background-size: cover;
        padding: 160px 0;


        >div {

            >div {


                >figure {

                    >figcaption {
                        font-family: merriweather;
                        font-size: 22px;
                        line-height: 45px;
                    }

                    >a {
                        >img {}
                    }
                }
            }
        }
    }

    >.sec5 {
        background-color: rgb(37, 42, 51);
        padding: 80px 0;

        >div {
            >div {
                >div {
                    >h2 {
                        font-size: 55px;
                        font-family: montserrat;
                        font-weight: bold;
                        margin-bottom: 60px;
                        position: relative;

                        &::after {
                            content: '';
                            width: 30%;
                            height: 2px;
                            background-color: rgb(68, 78, 99);
                            position: absolute;
                            bottom: -30px;

                        }
                    }

                    >p {
                        color: rgb(125, 123, 141);
                        font-size: 15px;
                        font-family: merriweather;

                    }

                }

                >div {
                    /* ////bottons/ */
                }
            }
        }
    }


    .sec6 {
        >div {
            >a {
                height: 150px;
                background-color: rgb(236, 72, 87);
                font-family: montserrat;
                font-size: 18px;
                font-weight: bolder;
                transition: 0.5s;
                color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }

        }
    }

    .sec7 {
        background-color: red;

        >div {

            >.div10 {
                background-color: rgb(50, 56, 68);
                height: 150px;

                >figure {
                    padding-left: 40px;

                    >img {
                        height: 40%;
                    }
                }

                >ul {
                    padding-right: 40px;

                    >li {
                        >a {
                            font-family: merriweather;
                            font-size: 13px;
                            color: rgb(117, 122, 130);
                            transition: 0.5s;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }

            >.div11 {
                background-color: rgb(37, 42, 51);

                >.div13 {
                    padding-left: 20px;

                    >span {
                        width: fit-content;
                        display: flex;
                        color: rgb(125, 123, 141);
                        padding: 0 5px;

                    }

                    >a {
                        width: fit-content;
                        padding: 0 5px;
                        display: flex;
                        color: rgb(236, 72, 87);

                    }
                }

                >.div12 {
                    padding-right: 20px;

                    >a {
                        margin: 0 5px;
                        text-decoration: none;
                        color: rgb(125, 123, 141);
                        background-color: rgb(50, 56, 68);
                        width: fit-content;
                        height: fit-content;
                        padding: 5px 10px;

                        &:hover {
                            color: rgb(50, 56, 68);
                            background-color: rgb(236, 72, 87);
                        }

                        >i {}
                    }
                }
            }
        }
    }
}